<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Account Management Home</title>

    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/resources/css/bootstrap.css" th:href="@{/resources/css/bootstrap.css}"/>
    <link rel="stylesheet" href="/resources/css/bootstrap-theme.css" th:href="@{/resources/css/bootstrap-theme.css}"/>

    <script src="/resources/js/jquery.js"></script>
    <script src="/resources/js/bootstrap.js"></script>
    <script src="/resources/js/angular.js"></script>
    <!--<script src="/resources/js/account.js"></script>-->
</head>
<body>

<div th:include="ads :: nav" ></div>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Author</h3>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Advert</h3>
                </div>
            </div>
        </div>
    </div>

    <th:each var="advert" items="${ads}">
        <div class="row">
            <div class="col-md-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">${advert.account}</h3>
                    </div>
                    <div class="panel-body">
                        <img src="/resources/img/user.png" class="img-responsive"/>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="panel panel-default">
                    <div class="panel-heading">published on: ${advert.date} Topic: ${advert.category}</div>
                    <div class="panel-body">
                        <h1>${advert.title}</h1>
                        ${advert.text}
                    </div>
                    <div class="panel-footer">
                        <!--<sec:authentication property="principal.username" var="userName"/>-->
                       <!-- <th:if test="${userName == advert.author.name}">
                            <span th:with="/ads/edit/${advert.id}" var="editURL"></span>
                            <a th:href="${ads/editAdvert" class="btn btn-default" role="button">edit</a>
                            <span th:with="/ads/delete/${advert.id}" var="deleteURL"> </span>
                            <a th:href="${ads/deleteAdvert}" class="btn btn-default" role="button">delete</a>
                            &lt;!&ndash;<a th:href="@{/accounts/deleteAccount(id=${account.id})}">Delete</a>&ndash;&gt;
                        </th:if>-->
                    </div>
                </div>
            </div>
        </div>
    </th:each>

    <h3><a  th:href="@{/index}">Main page</a></h3>
</div>
</body>
</html>
