<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-spingsecurity4">
<head>
<title>Main Home</title>

<meta charset="utf-8"/>
<link rel="stylesheet" href="/resources/css/bootstrap.css" th:href="@{/resources/css/bootstrap.css}"/>
<link rel="stylesheet" href="/resources/css/bootstrap-theme.css" th:href="@{/resources/css/bootstrap-theme.css}"/>

<script src="/resources/js/jquery.js"></script>
<script src="/resources/js/bootstrap.js"></script>
<script src="/resources/js/angular.js"></script>
</head>

<body>
<div align="center">
    <h2>Main page</h2>

    <h3>Hello! </h3>


<p>Go to <a  th:href="@{/ads}">Ads page</a> )</p>

</div>
</body>

</html>